@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirLTstd-Medium.otf");
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirLTstd-Book.otf");
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirLTstd-Roman.otf");
}

p,
ul {
  margin: 0;
  padding: 0;
}
p {
  line-height: 24px;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Arial";
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

header {
  display: flex;
  align-items: center;
  padding: 22px 0;

  .row {
    width: 100%;
  }
}

header img {
  width: 100%;
  max-width: 227px;
}
.elipse {
  position: absolute;
  bottom: 82px;
  left: 50%;
  transform: translateX(-50%);
  @media only screen and (max-width: 767px) {
    bottom: 30px;
    width: 50px;
  }
}

.banner {
  margin-bottom: 90px;
  height: 869px;
  position: relative;

  background-image: url("../images/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 767px) {
    height: 450px;
    margin-bottom: 40px;
  }
}

h1 {
  color: white;
  margin: 0;
  font-weight: 800;
  font-size: 85px;
  line-height: 116px;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: 44px;
    line-height: 72px;
  }
}

h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 26px;
  margin-top: 0;
  @media only screen and (max-width: 767px) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

h3 {
  font-size: 25px;
  font-weight: normal;
  line-height: 34px;
  font-style: normal;
  margin-bottom: 81px;
  @media only screen and (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
  }
}
//min 170px a max 1fr
.cont {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 0.5em;
}
.menu button {
  background: black;
  border: 0;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu button:hover,
.menu button:focus {
  background: #686b6b;
  color:white;
}

.menu.zobrazit menu {
  display: block;
}

@media screen and (max-width: 1200px) {
  .menu button {
    display: block;
  }
  .container {
    max-width: 1200px;
  }

  .menu menu {
    display: none;
  }
}

nav {
  width: 100%;
  display: flex;
  line-height: 22px;
  font-weight: 900;
  .menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
    }
    a {
      display: inline-block;
      margin: 0 16px;
      @media only screen and (max-width: 767px) {
        margin: 10px 0;
      }
    }
  }
}

.block {
  margin-top: 0;
  margin-bottom: 0;
}

.contain {
  display: flex;
  margin-bottom: 157px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.content {
  font-weight: 800;
  @media only screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.author {
  margin-top: 50px;
  margin-bottom: 59px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 30px;
    margin-top: 40px;
  }
}

.foto4 {
  margin-top: 29px;
  margin-left: auto;
  display: block;
}
@media only screen and (max-width: 767px) {
  .foto3 {
    margin-top: 30px;
  }
}
.arrow {
  width: 45px;
  height: 100%;
  cursor: pointer;
}
.arrow:hover {
  transform: scale(1.1);
}

.gallery {
  img {
    width: 100%;
  }
}

.carousel {
  margin-bottom: 125px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.medallion {
  margin-bottom: 88px;
  margin-top: 63px;
  font-weight: normal;
  font-style: normal;
  @media only screen and (max-width: 767px) {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
.authors ul li {
  list-style-type: none;
}
.copy {
  margin-bottom: 83px;
  color: white;
  font-weight: normal;
  font-style: normal;
}

footer {
  width: 100%;
  background: #000000;
  padding-top: 76px;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

.vector {
  margin-bottom: 25px;
  height: 20px;
}
@media only screen and (max-width: 576px) {
  .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    padding-top: 30px;
  }
  .copy {
    margin-top: 50px;
  }
  .vector {
    margin-top: 30px;
  }
  .frame {
    margin-bottom: 30px;
  }
  .menu.zobrazit menu {
    display:flex;
    flex-direction: column;
    margin-left:-40px;
  }
  
  
}
@media screen and (max-width: 992px) and (min-width:768px) {
  .time {
    margin-top:25px;
  }
}
@media screen and (max-width: 1200px) { 
  footer {
  padding-left: 15px;
}
}

@media screen and (max-width: 1200px) {
  .col-md-6 {
    padding-right: 0;
    padding-left: 0;
  }
  .copy {
    padding-left:0;
  }
  .menu.zobrazit menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  nav .menu {
    align-items:flex-end;
    display: flex;
    flex-direction: column;
    a {
      line-height: 30px;
    }
  } 
  nav.col-md-8 {
    padding-right:0;
  }
}

